<div
  class="bg-gray-200 min-h-full w-60 rounded-lg mt-2 shadow-md"
  [attr.data-status]="status()"
  (drop)="onDrop($event)"
  (dragover)="onDragOver($event)"
>
  <div
    class="py-2 bg-slate-800 rounded-t-lg font-bold text-center text-white select-none"
  >
    {{ heading() }}
  </div>

  <div class="mt-3 mx-3 space-y-3">
    @for (ticket of tickets() | filterByStatus: status(); track ticket.id) {
    <ticket-mini-card
      draggable="true"
      [ticket]="ticket"
      (drop)="onDrop($event)"
      (dragstart)="onDragStart.bind(null, ticket, $event).call($event)"
    />
    }
  </div>
</div>
