<div class="flex flex-col h-full">
  <header
    class="flex justify-center font-mono font-semibold py-4 bg-slate-950 text-white"
    routerLink="/"
  >
    <span
      class="inline-block py-2 px-6 ml-4 cursor-pointer border-t-2 border-b-2 border-dashed"
      >Task Tracker</span
    >
  </header>
  <main class="main flex-1 bg-slate-50">
    <router-outlet />
  </main>
  <footer class="flex justify-center text-white text-xs py-3 bg-slate-950">
    Copyright {{ currentYear }} &copy;&nbsp;<b>Task Tracker</b>&nbsp;inspired by
    Agile Development Cycle.
  </footer>
</div>
